.profile__edit-button {
  background-image: url(../../../images/profile-edit-btn.svg);
  height: 29px;
  width: 29px;
  margin-top: 37px;
  margin-left: 18px;
  background-color: #000000;
  cursor: pointer;
  border: 0;
  background-repeat: no-repeat;
}

@media screen and (max-width: 620px) {
  .profile__edit-button {
    margin: 23px 0 0 0;
    background-image: url(../../../images/edit-button-mobil.svg);
    height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    background-size: contain;
 }
}

.profile__edit-button:hover {
  transition: 0.3s ease;
  opacity: 0.6;
}
