.profile {
  max-width: 880px;
  min-height: 120px;
  display: flex;
  margin: 40px auto 0;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 928px) {
  .profile {
    margin: 40px 25px 0;
 }
}

@media screen and (max-width: 740px) {
  .profile {
    flex-direction: column;
    margin-top: 38.25px;
 }
}


